.full{
    background-color: rgb(5, 20, 15);
  
}
.btn-primary{
    width:250px;
    font-size: 20px;
    margin-left: 10px;
}
.main{
    text-align: center;
   margin-bottom: 30px;
} 
.sub{
    margin-left: 20%;
   
}
.one{
    border: 1px solid blue;
    background-color: aquamarine;
    width:80%;
    margin: 0 auto 30px;
    padding: 40px 0;
}
