<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!--  


   
  <div>
    <h1>ngIf Demo</h1><br /><br />
    <input type="button" value="{{caption}}" (click)="changeData()" /><br /><br />
    <h2 *ngIf="showInfo"><span>Demo of Structural Directives-*ngIf</span></h2>

  </div>
  <div>
    <h1>*ngFor Demo</h1>
    <ul>
      <li *ngFor="let product of productList">
        {{product}}
      </li>
    </ul>
  </div>
  <div>
    <h2>*ngSwitch Demo</h2>
    <table style="width:100%;border: 1px solid blue;">
      <thead>
      <tr>
        <td>Srl No</td>
        <td>Student Name</td>
        <td>Course</td>
        <td>Grade</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of studentList;" [ngSwitch]="student.Grade">
        <td>
          <span *ngSwitchCase="'A'" [ngStyle]="{'font-size': '18px', 'color': 'red'}">{{student.SrlNo}}</span>
          <span *ngSwitchCase="'B'" [ngStyle]="{'font-size': '16px', 'color': 'blue'}">{{student.SrlNo}}</span>
          <span *ngSwitchCase="'C'" [ngStyle]="{'font-size': '14px', 'color': 'green'}">{{student.SrlNo}}</span>
          <span *ngSwitchDefault  [ngStyle]="{'font-size': '12px', 'color': 'black'}">{{student.SrlNo}}</span>
        </td>
        <td>
          <span *ngSwitchCase="'A'" [ngStyle] = "{'font-size': '18px', 'color': 'red'}">{{student.Name}}</span>
          <span *ngSwitchCase="'B'" [ngStyle] = "{'font-size': '16px', 'color': 'blue'}">{{student.Name}}</span>
          <span *ngSwitchCase="'C'" [ngStyle] = "{'font-size': '14px', 'color': 'green'}">{{student.Name}}</span>
          <span *ngSwitchDefault [ngStyle] = "{'font-size': '12px', 'color': 'black'}">{{student.Name}}</span>
        </td>
        <td>
          <span *ngSwitchCase="'A'" [ngStyle] = "{'font-size': '18px', 'color': 'red'}">{{student.Course}}</span>
          <span *ngSwitchCase="'B'" [ngStyle] = "{'font-size': '16px', 'color': 'blue'}">{{student.Course}}</span>
          <span *ngSwitchCase="'C'" [ngStyle] = "{'font-size': '14px', 'color': 'green'}">{{student.Course}}</span>
          <span *ngSwitchDefault [ngStyle] = "{'font-size': '12px', 'color': 'black'}">{{student.Course}}</span>
        </td>
        <td>
          <span *ngSwitchCase="'A'" [ngStyle] = "{'font-size': '18px', 'color': 'red'}">{{student.Grade}}</span>
          <span *ngSwitchCase="'B'" [ngStyle] = "{'font-size': '16px', 'color': 'blue'}">{{student.Grade}}</span>
          <span *ngSwitchCase="'C'" [ngStyle] = "{'font-size': '14px', 'color': 'green'}">{{student.Grade}}</span>
          <span *ngSwitchDefault [ngStyle] = "{'font-size': '12px', 'color': 'black'}">{{student.Grade}}</span>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
<div>
  <input type="radio" name="colors" (click)="color='blue'">blue
  <input type="radio" name="colors" (click)="color='orange'">orange
  <input type="radio" name="colors" (click)="color='green'">green
</div>
<h1 [colorchange]="color">{{message}}</h1> 
<h1>Dem0 of view child</h1>
<div [ngStyle]="{'font-size':'15px', 'background-color':'green', 'width':'500px','padding-bottom':'50px'}">
  <app-second-child (addNumber)="add($event)" (subtractNumber)="subtract($event)" (multiplyNumber)="multiply($event)" (divideNumber)="divide($event)" #calculator></app-second-child>


<h3>Result</h3>
<span>{{result}}</span>
<br />
<input type="button" value="Reset" (click)="reset()" />
</div>

<div>
  <h2>Model Demo using ngContent</h2>
  <input type="button" value="ShowModal" class="btn-group" (click)="fnOpenModal()" />
  <br />
  <app-model [header-caption]="caption" #modal>
    
    <content-body >
      <h1>
        Modal Contain Defined at Parent Component
      </h1>
    </content-body>
    <content-footer> 
        Hello there Wellcome to my model<br />
      <input type="button" class="btn-default active" class="btn btn-primary" value="Modal Close" (click)="fnHideModal();" />   
  </content-footer> 

  </app-model>
</div>-->
