:host {
    padding: 3px 19px;
    background-color: rgb(211, 201, 224);
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.flex-item{
    flex: 45%;
    
    display: flex;
    justify-content: center;
}
.main{
    text-align: center;
    margin: 20px;

}
ul {
    list-style: none;
   
}
ul li a{
    color: black;
}
button{
    margin-top: 20px;
    width:170px;
    font-size: 16px;
    
}