<h2 class = "main">Welcome to my Angular Demostration</h2>

<div class="flex-container">

<div class="flex-item">
<ul>
  <li>
  <button mat-raised-button ><a [routerLink] ="['/React']">Reactive Form</a></button>
  </li>
  <li>
    <button  mat-raised-button ><a [routerLink] ="['/template']">Template Form</a></button>
  </li>
  
  <li>
   <button  mat-raised-button ><a [routerLink] ="['/interpolation']">Interpolation</a></button>
  </li>
  <li>
    <button  mat-raised-button ><a [routerLink] ="['/interpolation']">Property Binding</a></button>
  </li>
  <li>
    <button  mat-raised-button ><a [routerLink] ="['/interpolation']">Event Binding</a></button>
  </li>
  <li>
    <button  mat-raised-button ><a [routerLink] ="['/interpolation']">Two-way Binding</a></button>
  </li>
  </ul> 
</div>
  <div class="flex-item">
   <ul>  
    <li>
      <button  mat-raised-button ><a [routerLink] ="['/student']">Basic Service</a></button>
     </li>
    <li>
    <button  mat-raised-button ><a [routerLink] ="['/input']">@Input property</a></button>
    </li>
    <li>
      <button  mat-raised-button ><a [routerLink] ="['/output']">@Output property</a></button>
      </li>
      <li>
        <button  mat-raised-button ><a [routerLink] ="['/directives']">Attribute Directives</a></button>
        <li>
          <button  mat-raised-button ><a [routerLink] ="['/directives']">Str. Directive--ngIf</a></button>
        </li>
        <li>
          <button  mat-raised-button ><a [routerLink] ="['/ngswitch']">Str. Dir.*ngSwitch</a></button>
        </li>
      
  </ul>
  </div>
</div>



